# {{ ansible_managed }}

[loggers]
keys = root, sqlalchemy, kafka

[handlers]
keys = console, file

[formatters]
keys = context

[logger_root]
level = {{ monasca_log_level }}
handlers = console, file

[logger_sqlalchemy]
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)
level = {{ monasca_log_level }}
handlers = console, file
propagate = 0

[logger_kafka]
qualname = kafka
level = {{ monasca_log_level }}
handlers = console, file
propagate = 0

[handler_console]
class = logging.StreamHandler
args = (sys.stderr,)
level = {{ monasca_log_level }} 
formatter = context

[handler_file]
class = logging.handlers.RotatingFileHandler
level = {{ monasca_log_level }}
formatter = context
# store up to 5*100MB of logs
args = ('/var/log/{{ monasca_service_name }}/api.log', 'a', 104857600, 5)

[formatter_context]
class = oslo_log.formatters.ContextFormatter
