[auth.keystone]
enabled = true
auth_url = {{ keystone_url }}
[database]
type = mysql
host = {{ mysql_url }}
name = graphana
user = graphana
password = {{ graphana_mysql_password }}
ssl_mode = skip-verify
[security]
admin_user = admin
admin_password = {{ graphana_admin_password }}
