description "Grafana"
start on (filesystem and net-device-up)
stop on runlevel [06]

console log

respawn

env http_proxy=""
env https_proxy=""

setuid grafana
chdir /usr/share/grafana
nice 0

script
    . /etc/default/grafana-server
    exec /usr/sbin/grafana-server                                 \
                            --config=${CONF_FILE}                 \
                            --pidfile=${PID_FILE}                 \
                            cfg:default.paths.logs=${LOG_DIR}     \
                            cfg:default.paths.data=${DATA_DIR}    \
                            cfg:default.paths.plugins=${PLUGINS_DIR}
end script