# {{ ansible_managed }}

D /var/lock/{{ item.value.service_name }} 2755 {{ monasca_system_user_name }} {{ monasca_system_group_name }}
D /var/run/{{ item.value.service_name }} 2755 {{ monasca_system_user_name }} {{ monasca_system_group_name }}
D {{ monasca_lock_path }} 2755 {{ monasca_system_user_name }} {{ monasca_system_group_name }}
