# {{ ansible_managed }}


description "{{ item.value.service_name }}"
author "Kevin Carter <kevin.carter@rackspace.com>"

start on runlevel [2345]
stop on runlevel [016]

respawn
respawn limit 10 5

# Set the RUNBIN environment variable
env RUNBIN="{{ monasca_bin }}/{{ item.value.service_name }}"

# Change directory to service users home
chdir "{{ monasca_system_home_folder }}"

# Pre start actions
pre-start script
  mkdir -p "/var/run/{{ item.value.service_name }}"
  chown {{ monasca_system_user_name }}:{{ monasca_system_group_name }} "/var/run/{{ item.value.service_name }}"

  mkdir -p "/var/lock/{{ item.value.service_name }}"
  chown {{ monasca_system_user_name }}:{{ monasca_system_group_name }} "/var/lock/{{ item.value.service_name }}"

  . {{ monasca_bin }}/activate

end script

# Post stop actions
post-stop script
  rm "/var/run/{{ item.value.service_name }}/{{ item.value.service_name }}.pid"
end script

# Run the start up job
exec start-stop-daemon --start \
                       --chuid {{ monasca_system_user_name }} \
                       --make-pidfile \
                       --pidfile /var/run/{{ item.value.service_name }}/{{ item.value.service_name }}.pid \
                       --exec "{{ program_override|default('$RUNBIN') }}" \
                       -- {{ program_config_options|default('') }} \
                       --log-file=/var/log/{{ monasca_service_name }}/{{ item.value.service_name }}.log
