[DEFAULT]

log_config_append=/etc/monasca/api-logging.conf
region = {{ keystone_service_region }}

[dispatcher]
versions = monasca_api.v2.reference.versions:Versions
version_2_0 = monasca_api.v2.reference.version_2_0:Version2
metrics = monasca_api.v2.reference.metrics:Metrics
metrics_measurements = monasca_api.v2.reference.metrics:MetricsMeasurements
metrics_statistics = monasca_api.v2.reference.metrics:MetricsStatistics
metrics_names = monasca_api.v2.reference.metrics:MetricsNames
alarm_definitions = monasca_api.v2.reference.alarm_definitions:AlarmDefinitions
alarms = monasca_api.v2.reference.alarms:Alarms
alarms_count = monasca_api.v2.reference.alarms:AlarmsCount
alarms_state_history = monasca_api.v2.reference.alarms:AlarmsStateHistory
notification_methods = monasca_api.v2.reference.notifications:Notifications
dimension_values = monasca_api.v2.reference.metrics:DimensionValues
dimension_names = monasca_api.v2.reference.metrics:DimensionNames
notification_method_types = monasca_api.v2.reference.notificationstype:NotificationsType

[security]
default_authorized_roles = user, domainuser, domainadmin, {{ monasca_regular_user_name }}
agent_authorized_roles = {{ monasca_agent_user_name }}
read_only_authorized_roles = monasca-read-only-user
delegate_authorized_roles = admin

[messaging]
driver = monasca_api.common.messaging.kafka_publisher:KafkaPublisher

[repositories]
metrics_driver = {{ monasca_api_metrics_driver }}
alarm_definitions_driver = monasca_api.common.repositories.sqla.alarm_definitions_repository:AlarmDefinitionsRepository
alarms_driver = monasca_api.common.repositories.sqla.alarms_repository:AlarmsRepository
notifications_driver = monasca_api.common.repositories.sqla.notifications_repository:NotificationsRepository
notification_method_type_driver = monasca_api.common.repositories.sqla.notification_method_type_repository:NotificationMethodTypeRepository

[dispatcher]
driver = v2_reference

[kafka]
uri = {{ kafka_hosts }}:{{ kafka_port }}
metrics_topic = metrics
group = api
max_retry = 1
wait_time = 1
async = False
compact = False
partitions = 0

{% if monasca_backend_database == 'influxdb' %}
[influxdb]
ip_address = {{ influxdb_host }}
port = {{ influxdb_port }}
user = {{ influxdb_admin }}
password = {{ influxdb_admin_password }}
database_name = {{ influxdb_dbname }}
{% elif monasca_backend_database == 'cassandra' %}
[cassandra]
cluster_ip_addresses: 127.0.0.1
keyspace: monasca
{% else %}
[mysql]
database_name = {{ monasca_galera_database }}
hostname = {{ monasca_galera_address }}
username = {{ monasca_galera_user }}
password = {{ monasca_galera_password }}
{% endif %}

[database]
url = "mysql+pymysql://{{ monasca_galera_user }}:{{ monasca_galera_password }}@{{ monasca_galera_address }}/{{ monasca_galera_database }}"

[keystone_authtoken]
insecure = {{ keystone_service_internaluri_insecure | bool }}
auth_plugin = {{ monasca_keystone_auth_plugin }}
auth_url = {{ keystone_service_adminuri }}
auth_uri = {{ keystone_service_internaluri }}
project_domain_id = {{ monasca_service_project_domain_id }}
user_domain_id = {{ monasca_service_user_domain_id }}
project_name = {{ monasca_service_project_name }}
username = {{ monasca_service_user_name }}
password = {{ monasca_service_password }}
region_name = {{ keystone_service_region }}
