# {{ ansible_managed }}

[Unit]
Description=monasca openstack service
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ monasca_system_user_name }}
Group={{ monasca_system_group_name }}

{% if item.value.service_init_bin is defined %}
ExecStart={{ item.value.service_init_bin }} {{ item.value.service_init_options |default('') }}
{% else %}
ExecStart={{ monasca_bin }}/{{ item.value.service_name }} {{ program_config_options|default('') }}
{% endif %}

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=120
Restart=on-failure
RestartSec=2

# This creates a specific slice which all services will operate from
#  The accounting options give us the ability to see resource usage through
#  the `systemd-cgtop` command.
Slice=monasca.slice
CPUAccounting=true
BlockIOAccounting=true
MemoryAccounting=false
TasksAccounting=true

[Install]
WantedBy=multi-user.target
