[DEFAULT]
log_config_append=/etc/monasca/log-api-logging.conf
debug={{ debug }}
[service]
max_log_size = 1048576
region = {{ keystone_service_region }}

[log_publisher]
topics = logs
kafka_url = {{ kafka_hosts }}

[kafka_healthcheck]
kafka_url = {{ kafka_hosts }}
kafka_topics = log

[roles_middleware]
path = /v2.0/log
path = /v3.0/logs
default_roles = user, domainuser, domainadmin, {{ monasca_service_role_names | join(', ') }}, {{ monasca_role_names | join(', ') }}
agent_roles = {{ monasca_service_user_name }}, admin

[dispatcher]
logs = monasca_log_api.reference.v2.logs:Logs
logs_v3 = monasca_log_api.reference.v3.logs:Logs
versions = monasca_log_api.reference.versions:Versions
healthchecks = monasca_log_api.reference.healthchecks:HealthChecks

# Concurrency (locking mechanisms)
[oslo_concurrency]
lock_path = {{ monasca_lock_path }}

[keystone_authtoken]
auth_uri = {{ keystone_service_internalurl }}
auth_version = v3
insecure = {{ keystone_service_internaluri_insecure | bool }}
memcached_servers = {{ memcached_servers }}
token_cachce_time = 300
revocation_cache_time = 60
identity_uri = {{ keystone_service_adminuri }}
auth_type = {{ monasca_keystone_auth_plugin }}
auth_url = {{ keystone_service_internaluri }}
project_domain_name = {{ monasca_service_project_domain_name }}
user_domain_name = {{ monasca_service_user_domain_name }}
project_name = {{ monasca_service_project_name }}
username = {{ monasca_service_user_name }}
password = {{ monasca_service_password }}
